# Ignore all CSV and NPZ files in all directories
*.csv
*.npz

# Optional: Ignore CSV and NPZ files only in specific folders
# data/**/*.csv
# data/**/*.npz

# Optional: Ignore zipped chunks or related outputs
*.zip
*.z*

# Ignore __pycache__ and compiled Python files
__pycache__/
*.py[cod]

# VSCode settings (if using VSCode)
.idea/
.vscode/

# Environment files
*.env
.env/
sgnn_vtac_env/

# Ignore test logs and temp files
*.log
*.tmp
